body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(378px / 2) 1fr calc(378px / 2)
}

#green {
    grid-column: 1 / 4;
    grid-row: 1;
    
}

#yellow {
    grid-column: 1;
    grid-row: 2;
}

#red {
    grid-column: 2;
    grid-row: 2;
}

#blue {
    grid-column: 3;
    grid-row: 2 / 4;
}

#orange {
    grid-column: 1 / 3;
    grid-row: 3;
}